@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
    h2 span /* decorating the text within the span tag */
    { 
    position: absolute; /* To place the text on the image*/
    top: 200px; /* The exact location of the text from the top of the image*/
    left: 12vw; /* Other beautification stuff */
    width: 300px;
    color: white; 
    font: 50px/50px Helvetica, Sans-Serif; 
    padding: 0 3px;
    letter-spacing: 0px; 
    background: rgb(0, 0, 0); /* fallback color */ 
    background: rgba(0, 0, 0, 0.45); padding: 10px; 
    }
    h2 span.spacer { padding: 0 3px;} /* to pad the background color of text to make it look more elegant */

    h3 
    { 
    position: absolute; /* To place the text on the image*/
    top: 220px; /* The exact location of the text from the top of the image*/
    left: 12vw; /* Other beautification stuff */
    width: 1000px; 
    }
    /* Coloring time */
    h3 span /* decorating the text within the span tag */
    { 
    color: white; 
    font: slim 30px/50px Helvetica, Sans-Serif; 
    letter-spacing: 0px; 
    background: rgb(0, 0, 0); /* fallback color */ 
    background: rgba(0, 0, 0, 0.55); padding: 10px; 
    }
    h3 span.spacer { padding:0 5px; }

    h3 .sub {
    color: white; 
    font: 30px/50px Helvetica, Sans-Serif; 
    letter-spacing: 0px; 
    background: rgb(0, 0, 0); /* fallback color */ 
    background: rgba(0, 0, 0, 0.55); padding: 10px; 

    }
	
    }