
/* .container2 {
    display:flex;
    width: 500px;
    height:250px;
    position: absolute;
    padding-left: 35vw;
  } */

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
   
   ::-webkit-scrollbar {
         width: 10px;
   }
   
   ::-webkit-scrollbar-track {
         background: #f1f1f1; 
      border-radius: 100px;
   }
   
   ::-webkit-scrollbar-thumb {
      background: #888; 
      border-radius: 100px;
   }
   
   ::-webkit-scrollbar-thumb:hover {
         background: #555; 
   }
   
   body {
     overflow: auto;
     font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
     font-weight: 100;
     color: rgba(255, 255, 255, 1);
     margin: 0;
     padding: 0;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 height: 100%;
 width: 100%;
   }
   
   #calendar {
     -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
     width: 75%;
     margin: 1em auto;
     height: 550px;
     overflow: hidden;
   }
   
   .header {
     height: 40px;
     width: 100%;
     background: rgba(66, 66, 66, 1);
     text-align: center;
     position:relative;
     z-index: 100;
   }
   
   .header h1 {
     margin: 0;
     padding: 0;
     font-size: 20px;
     line-height: 40px;
     font-weight: 100;
     letter-spacing: 1px;
   }
   
   .left, .right {
     position: absolute;
     width: 0px;
     height: 0px;
     border-style: solid;
     top: 25%;
     margin-top: 0px;
     cursor: pointer;
   }
   
   .left {
     border-width: 7.5px 10px 7.5px 0;
     border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
     left: 20px;
   }
   
   .right {
     border-width: 7.5px 0 7.5px 10px;
     border-color: transparent transparent transparent rgba(160, 159, 160, 1);
     right: 20px;
   }
   
   .month {
     /*overflow: hidden;*/
     opacity: 0;
   }
   
   .month.new {
     -webkit-animation: fadeIn 1s ease-out;
     opacity: 1;
   }
   
   .month.in.next {
     -webkit-animation: moveFromTopFadeMonth .4s ease-out;
     -moz-animation: moveFromTopFadeMonth .4s ease-out;
     animation: moveFromTopFadeMonth .4s ease-out;
     opacity: 1;
   }
   
   .month.out.next {
     -webkit-animation: moveToTopFadeMonth .4s ease-in;
     -moz-animation: moveToTopFadeMonth .4s ease-in;
     animation: moveToTopFadeMonth .4s ease-in;
     opacity: 1;
   }
   
   .month.in.prev {
     -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
     -moz-animation: moveFromBottomFadeMonth .4s ease-out;
     animation: moveFromBottomFadeMonth .4s ease-out;
     opacity: 1;
   }
   
   .month.out.prev {
     -webkit-animation: moveToBottomFadeMonth .4s ease-in;
     -moz-animation: moveToBottomFadeMonth .4s ease-in;
     animation: moveToBottomFadeMonth .4s ease-in;
     opacity: 1;
   }
   
   .week {
/* 		    background: #4A4A4A; */
   }
   
   .day {
display: inline-block;
width: 14.28%;
padding: 0px;
text-align: center;
vertical-align: top;
cursor: pointer;
position: relative;
z-index: 100;
color: #4A4A4A;
   }
   
   .day.other {
    color: rgba(255, 255, 255, .3);
 cursor: not-allowed;
   }
   
   .day.today {
     color: rgba(156, 202, 235, 1);
   }
   
   .day-name {
     font-size: 9px;
     text-transform: uppercase;
     margin-bottom: 0px;
     color: rgba(255, 255, 255, .5);
     letter-spacing: .7px;
   }
   
   .day-number {
     font-size: 24px;
     letter-spacing: 1.5px;
   }
   
   
   .day .day-events {
     list-style: none;
     margin-top: 3px;
     text-align: center;
     height: 6px;
     line-height: 6px;
     overflow: hidden;
   }
   
   .day .day-events span {
     vertical-align: top;
     display: inline-block;
     padding: 0;
     margin: 0;
     width: 10px;
     height: 10px;
     line-height: 10px;
     margin: 0 1px;
   }
   
   .blue { background: rgba(156, 202, 235, 1); }
   .orange { background: rgba(247, 167, 0, 1); }
   .green { background: rgba(153, 198, 109, 1); }
   .yellow { background: rgba(249, 233, 0, 1); }
   
   .delBTN {
        height: 20px;
width: 20px;
border: 0;
border-radius: 100%;
cursor: pointer;
font-size: 1em;
margin: 0 5px;
background-color: rgba(200,200,200,1);
   }
   
   .details {
     position: relative;
     width: 100%;
     height: 100px;
     background: rgba(164, 164, 164, 1);
     margin-top: 5px;
     border-radius: 4px;
   }
   
   .details.in {
     -webkit-animation: moveFromTopFade .5s ease both;
     -moz-animation: moveFromTopFade .5s ease both;
     animation: moveFromTopFade .5s ease both;
   }
   
   .details.out {
     -webkit-animation: moveToTopFade .5s ease both;
     -moz-animation: moveToTopFade .5s ease both;
     animation: moveToTopFade .5s ease both;
   }
   
   .arrow {
     position: absolute;
     top: -5px;
     left: 50%;
     margin-left: -2px;
     width: 0px;
     height: 0px;
     border-style: solid;
     border-width: 0 5px 5px 5px;
     border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
     transition: all 0.7s ease;
   }
   
   .events {
     height: 25px;
     padding: 2px 0;
     overflow-y: auto;
     overflow-x: hidden;
   }
   
   .events.in {
     -webkit-animation: fadeIn .3s ease both;
     -moz-animation: fadeIn .3s ease both;
     animation: fadeIn .3s ease both;
   }
   
   .events.in {
     -webkit-animation-delay: .3s;
     -moz-animation-delay: .3s;
     animation-delay: .3s;
   }
   
   .details.out .events {
     -webkit-animation: fadeOutShrink .4s ease both;
     -moz-animation: fadeOutShink .4s ease both;
     animation: fadeOutShink .4s ease both;
   }
   
   .events.out {
     -webkit-animation: fadeOut .3s ease both;
     -moz-animation: fadeOut .3s ease both;
     animation: fadeOut .3s ease both;
   }
   
   .event {
 display: flex;
 justify-content: space-between;
     font-size: 16px;
     line-height: 15px;
     letter-spacing: .5px;
     padding: 0px 16px;
     vertical-align: top;
   }
   
   .event.empty {
     color: #eee;
   }
   
   .event-category {
     height: 10px;
     width: 15px;
     display: inline-block;
     margin: 0px 0;
     vertical-align: top;
   }
   
   .event span {
     display: inline-block;
     padding: 0 0 0 7px;
   }
   
   .legend {
    width: 100%;
    height: 30px;
    background: rgba(60, 60, 60, 1);
    margin-top: -50px;
   }
   
   .entry {
     position: relative;
     padding: 0 0 0 25px;
     font-size: 13px;
     display: inline-block;
     line-height: 15px;
     background: transparent;
   }
   
   .entry:after {
     position: absolute;
     content: '';
     height: 10px;
     width: 10px;
     top: 5px;
     left: 10px;
   }
               
   .addBTN{
     width: 70px;
     height: 70px;
     bottom: 100%;
     right: 0%;
     top: 5px;
     left: 10px;
     font-size: 80px;
     background-color: rgba(200,200,200,0.9);
     color: grey;
     text-align: center;
     vertical-align: top;
     border-radius: 100%;
     cursor: pointer;
     z-index: 10;
     margin-right: 50px;
      margin-bottom: 70px;

   }
               
   .addBTN::before{
     position: relative;
     top: -10%;
     content: '+';
   }
               
   #formDiv {
     display: none;
position: absolute;
top: 100px;
 left: 25%;
 width: 50%;
background-color: rgba(200,200,200,0.9);
padding: 25px;
margin: 0 auto;
color: black;
z-index: 999;
border-radius: 5px;
   }
               
   form{
     height: 100%;
     width: 100%;
     margin: 0 auto;
   }

#eventColor{
height: 20px;
width: 20px;
margin: 0 5px;
}

.todayDate {
margin: 0 15px;
font-family: inherit;
font-size: 1.2em;
font-weight: bold;
width: 115px;
padding: 10px 20px;
border-bottom: 2px groove #f7f8f8;
}
   
   .entry.blue:after { background: rgba(156, 202, 235, 1); }
   .entry.orange:after { background: rgba(247, 167, 0, 1); }
   .entry.green:after { background: rgba(153, 198, 109, 1); }
   .entry.yellow:after { background: rgba(249, 233, 0, 1); }
   
   /* Animations are cool!  */
   @-webkit-keyframes moveFromTopFade {
     from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%);}
   }
   @-moz-keyframes moveFromTopFade {
     from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
   }
   @keyframes moveFromTopFade {
     from { height:0px; margin-top:0px; transform: translateY(-100%); }
   }
   @-webkit-keyframes moveToTopFade {
     to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
   }
   @-moz-keyframes moveToTopFade {
       to { height:0px; -moz-transform: translateY(-100%); }
   }
   @keyframes moveToTopFade {
       to { height:0px; transform: translateY(-100%); }
   }
   @-webkit-keyframes moveToTopFadeMonth {
       to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
   }
   @-moz-keyframes moveToTopFadeMonth {
       to { opacity: 0; -moz-transform: translateY(-30%); }
   }
   @keyframes moveToTopFadeMonth {
       to { opacity: 0; -moz-transform: translateY(-30%); }
   }
   @-webkit-keyframes moveFromTopFadeMonth {
       from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
   }
   @-moz-keyframes moveFromTopFadeMonth {
       from { opacity: 0; -moz-transform: translateY(30%); }
   }
   @keyframes moveFromTopFadeMonth {
       from { opacity: 0; -moz-transform: translateY(30%); }
   }
   @-webkit-keyframes moveToBottomFadeMonth {
       to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
   }
   @-moz-keyframes moveToBottomFadeMonth {
       to { opacity: 0; -webkit-transform: translateY(30%); }
   }
   @keyframes moveToBottomFadeMonth {
       to { opacity: 0; -webkit-transform: translateY(30%); }
   }
   @-webkit-keyframes moveFromBottomFadeMonth {
       from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
   }
   @-moz-keyframes moveFromBottomFadeMonth {
       from { opacity: 0; -webkit-transform: translateY(-30%); }
   }
   @keyframes moveFromBottomFadeMonth {
       from { opacity: 0; -webkit-transform: translateY(-30%); }
   }
   @-webkit-keyframes fadeIn  {
       from { opacity: 0; }
   }
   @-moz-keyframes fadeIn  {
       from { opacity: 0; }
   }
   @keyframes fadeIn  {
       from { opacity: 0; }
   }
   @-webkit-keyframes fadeOut  {
       to { opacity: 0; }
   }
   @-moz-keyframes fadeOut  {
       to { opacity: 0; }
   }
   @keyframes fadeOut  {
       to { opacity: 0; }
   }
   @-webkit-keyframes fadeOutShink  {
       to { opacity: 0; padding: 0px; height: 0px; }
   }
   @-moz-keyframes fadeOutShink  {
       to { opacity: 0; padding: 0px; height: 0px; }
   }
   @keyframes fadeOutShink  {
       to { opacity: 0; padding: 0px; height: 0px; }
   }