
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

    box-sizing: border-box;
    font-family: "Merriweather Sans", sans-serif;
 }
 

 h2 {
  padding: 35px;
 }

.example {
  -webkit-columns: 2 150px;
  -moz-columns: 2 150px;
  columns: 2 150px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}


.column{
 /* float: left; */
  padding: 30px;
}

.left {
  width: 45%;
}

.right {
  width: 25%;


 body{

  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #B0DBEE;


}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
    background-color: #B0DBEE;
    
    #form{
       color: white;
       background-color: #009EDF;
       border-radius: 5px;
       
       width: 400px;
       padding: 70px;
       margin: 150px auto;
       
       -webkit-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);
       box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);
       
       p{
          font-size: 0.9em;
       }
       
       button{
          width: 100%;
          text-align: center;
          color: grey;
          margin-top: 20px;
          border: 1px solid rgba(0,0,0,0.4);
       }
       
       .form-group{
          margin: 15px auto;
            
          label{
             font-weight: bold;
             font-size: 0.9em;
          }
          
          .input-group{
             border-radius: 5px;
             -webkit-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.35);
             -moz-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.35);
             box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.35);
             
             .input-group-addon{
                border: none;
                border-right: 1px solid rgba(0,0,0,0.2);
             }
             
             input{
                padding-left: 10px;
             }
             
             i{
                color: #009EDF;
             }
          }
          
          input{
             padding: 3px;
             width: 100%;
             border: none;
             border-radius: 0 5px 5px 0;
          }
       }
    }
 }

 .container {
  
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F5DFB8;
  padding: 25px;
  margin: 0px 0;
  box-shadow: 0 0 px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0088B3;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #0088B3;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}