html {
    height: 100% !important;
  }
  body {
    height: 100% !important;
  }
  
  /* TABLE */
  table {
    margin-top: 10px !important;
    border-radius: 5px !important;
    background-color: #e5eaff !important;
    box-shadow: 5px 5px 10px #eee;
  }
  .table-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  thead th {
    border-top: 0 !important;
    margin-bottom: -2px !important;
  }
  thead th:last-child, tbody tr td:last-child {
    border-left: 2px solid #91a6ff !important;
  }
  tbody td {
    border-top: 2px solid #91a6ff !important;
  }
  tr {
    display: flex;
    color: #445dc4;
    font-weight: bold;
    border-left: 2px solid #91a6ff;
    border-right: 2px solid #91a6ff;
  }
  thead tr:first-child {
    border: 2px solid #91a6ff;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
  }
  tbody tr:last-child {
    border: 2px solid #91a6ff;
    border-top: 0;
    border-radius: 0 0 5px 5px;
  }
  
  /* CONTENT */
  .wrap-inputs {
    width: 100%;
    display: inline-block;
  }
  .input-wrap input {
    border: 2px solid #91a6ff;
    border-radius: 5px;
    width: 100%;
    float: left;
    padding: 5px 15px;
    transition: 0.3s;
    color: #445dc4 !important;
    font-weight: bold;
    box-shadow: 5px 5px 10px #eee;
  }
  .input-wrap input::placeholder {
    color: #91a6ff !important;
    font-weight: bold;
  }
  .input-wrap button {
      background: #bac7ff;
      border: 2px solid #91a6ff;
      border-radius: 5px;
      padding: 5px 10px;
      transition: 0.3s;
      cursor: pointer;
      color: #627ae0;
      font-weight: bold;
      outline: none;
    box-shadow: 5px 5px 10px #eee;
  }
  .input-wrap button:hover {
      background: #91a6ff;
      color: #445dc4;
      border-color: #627ae0;
  }
  .table-search label {
    height: 38px;
    width: 38px;
    background: #91a6ff;
    position: absolute;
    top: 0px;
    right: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  .table-search label::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 800;
      content: "\f00d";
      position: absolute;
      right: 12px;
      top: 4px;
      font-size: 20px;
      color: #fff;
      transition: 0.3s;
  }
  .table-search label:hover {
    background: #647ad9;
  }
  
  .delete-row {
    cursor: pointer;
    color: #445dc4;
  }
  
  
  /*MODAL*/
  
  .modal {
      background: rgba(65, 84, 163, 0.4);
  }
  .modal-content {
      border: 2px solid #91a6ff;
      background: #e5eaff;
    color: #445dc4;
    font-weight: bold;
  }
  .modal-body {
      background: #f0f3ff;
  }
  .modal-cancel {
      margin-right: -10px;
      background: #bac7ff;
      border: 2px solid #91a6ff;
      border-radius: 5px;
      padding: 5px 10px;
      transition: 0.3s;
      cursor: pointer;
      color: #627ae0;
      font-weight: bold;
      outline: none;
  }
  .modal-cancel:hover {
      background: #91a6ff;
      color: #445dc4;
      border-color: #627ae0;
  }
  .btn:focus {
      outline: none !important;
  }
  .modal-save {
      margin-right: -10px;
      background: #91a6ff;
      border: 2px solid #91a6ff;
      border-radius: 5px;
      padding: 5px 10px;
      transition: 0.3s;
      cursor: pointer;
      color: #f0f3ff;
      font-weight: bold;
      outline: none;
  }
  .modal-save:hover {
      background: #647ad9;
      border: 2px solid #647ad9;
  }
  
  
  
  
  
  
  
  
  
  /*IGNORE THIS*/
  input:focus {
    outline: 0;
  }
  
  #my-btn-contain {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 20px 20px;
  }
  
  #more-btn {
    border: 1px solid #6ddba8;
    background-color: #6ddba8;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    color: #319b6a;
    display: inline;
    outline: none;
    box-shadow: 5px 5px #111;
    margin-right: 5px;
  }
  #more-btn:hover {
    cursor: pointer;
    background-color: #57aa84;
    border: 1px solid #57aa84;
    color: #257a53;
  }
  .profile {
    color: #444;
    display: inline;
    font-weight: bold;
    font-size: 19px;
  }
  .profile:hover {
    cursor: pointer;
    color: #333;
  }
  
  
  
  /*DONT WORRY ABOUT THIS, I JUST LIKE TO ADD THIS FOR MY SAKE*/
  /* CUSTOM SCROLLBAR */
  
  /* width */
  ::-webkit-scrollbar {
      width: 10px;
      cursor: pointer;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      background: #222; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #000; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #111; 
      cursor: pointer;
  }
  /*
  -
  -
  -
  -
  -
  -
  */
  /*NO SELECTION BACKGROUND HIGHLIGHT*/
  ::selection {
      background-color: rgba(0, 0, 0, 0.5);
  }
  ::-moz-selection {
      background-color: rgba(0, 0, 0, 0.5);
  }