@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

a:hover, a:visited, a:link, a:active {
  color: black;
  text-decoration: none;
}

body, .card {
  background-color: #FFF1D9; /* fundp = claro */
}


.btn {
  background-color: hsl(30, 80%, 60%);
  border-color: hsl(30, 80%, 30%);
}

.toPress-btn:hover {
  background-color: hsl(30, 80%, 70%);
  border-color: hsl(30, 80%, 30%);
}

.active-btn {
  background-color: hsl(30, 80%, 80%);
}


.card {
  /* border-color: hsl(30, 20%, 70%); */
  border: none;
}
.bold {
  font-weight: bold;
}
.card-header {
  background-color: hsl(38, 50%, 78%);    /*   escurooo */
}
.card-body {
  background-color: #F5DFB8;  /** mediooo */
}

.card-body-image {
  padding: 0;
}

#lista-categorias .list-group-item {
  background: hsl(38, 50%, 78%);
  border-color:  #F5DFB8;
}

#lista-categorias li:hover {
  background: hsl(30, 20%, 68%);
  border-color:  #F5DFB8;
}

#nome-instituicao, #nome-categoria, #nome-lab {
  font-family:roboto;
  font-size:55px;
  color:1F1F1F;
  padding-top:1vh;
  padding-left:13vw;
  margin-top: 10px;
  margin-bottom: 10px;
}
