
.clear { clear: both; }

h1 .sub{
  font-size:14px;
  margin:0px;
  float:left;
}

h2 .sub{
  font-size:14px;
  margin:0px;
  float:right;
  font-weight:400;
  text-transform: uppercase;
}

p{
 
  font-weight: 400;
}
.top{
  width:100%;
  height:auto;
  display:block;
}

.description{
  display:none;
  width:100%;
}

a {

  transition-duration: 500ms;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  position: absolute;
  width: 10%;
  height: 100%;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.button.next{
  right:0px;
}

.week-nav {
  color:#333;
  position: relative;
  width: 100%;
  height: 10vh;
  font-size: 25px;
  text-align: center;
  line-height: 10vh;
  
  cursor: pointer;
  transition-duration: 400ms;
}

.week-nav:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.button.next{
  right:0px;
}

.button:after {
  position: absolute;
  content: "";
  /* By using an em scale, the arrows will size with the font */
  width: 0.5em;
  height: 0.5em;
  border-right: 0.1em solid black;
  border-top: 0.1em solid black;
  border-color: #333;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

.button.prev:after {
  transform: rotate(-135deg);
}

.button.next:after  {
  transform: rotate(45deg);
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.week {
  display: flex;
  height: 80vh;  /* tamanho */
}

.day {
  position: relative;
  display: flex ;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  color: white;
  transition: flex-basis 300ms ease-in-out;
}

.day:before {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

a .second span{
  display:block;
  color:red;
  background:black;
}

.day:hover{
  flex-basis: 30em;
  overflow-y: scroll;
}

.day:hover span{
    font-weight:800;
}
   
.day a {
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
  padding: 1em 0 2em 0;
  display: block;
  width: 100%;
  height: 60px;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background: url(http://emphasizestudio.nl/img/timelessline/light-freq.svg) no-repeat center bottom;
  background-size: 100% 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.day:hover a{
  padding: 1em 0;
  font-size:150%;

}

ul.events{
  margin: 6px 0px;
}

ul.events li{
  position:relative;
  width:100%;
  min-height: 50px;
  display:inline-block;
  color:#454545;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 3px 0px;
  line-height:40px;
  padding: 0.2em 1em 0.2em 1em;
  transition-duration: 500ms;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px; /* future proofing */
  -khtml-border-radius: 30px; /* for old Konqueror browsers */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.day:hover ul.events li{
  min-height: 60px;
  padding: 0.5em 2em 0.5em 5em ;
  cursor:pointer;
}

.day:hover ul.events li:hover{
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 150px;
}

ul.events li:hover .description{
  display: inline;
  animation: FadeIn 1s ease-in-out;
  animation-iteration-count: 1;
}

.icon{
  padding: 0.2em 1em 0.2em 3em !important;
}

.icon:before{
  content: "A";
  color:#222;
  font-weight:800;
  display: block;
  width:30px;
  background:#fff;
  margin: 10px 10px 10px 10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  transition-duration: 1000ms;
  top:0;
  bottom:0;
  left:0%;
  position:absolute;
  text-align:center;
  line-height:30px;
  text-shadow: none;
}

.day:hover ul.events .icon:before{
  width:40px;
  background:#fff;
  line-height: inherit;
}

.day span:last-child {
  display:none;
  transition-duration: 500ms;
}



.week section:nth-child(1) {
  background: #0099FF;
}

.week section:nth-child(2) {
  background: #663399 ;
}

.week section:nth-child(3) {
  background: #CC3399 ;
}

.week section:nth-child(4) {
  background: #CC0033;
}

.week section:nth-child(5) {
  background: #FF6600;
}

.week section:nth-child(6) {
  background: #FFCC00;
}

.week section:nth-child(7) {
  background: #339933;
}

.day:hover span:last-child {
  display: inline;
  animation: FadeIn 1s ease-in-out;
  animation-iteration-count: 1;
}

@keyframes FadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* Add your own prefixes */

.eventstart{
  border-radius: 30px 0px 0px 30px !important;
-moz-border-radius: 30px 0px 0px 30px !important;
-webkit-border-radius: 30px 0px 0px 30px !important;
}

.eventmid{
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important; /* future proofing */
  -khtml-border-radius: 0px !important; /* for old Konqueror browsers */
}

.eventend{
  border-radius: 0px 30px 30px 0px !important;
  -moz-border-radius: 0px 30px 30px 0px !important;
  -webkit-border-radius: 0px 30px 30px 0px !important;
}

@media only screen and (max-width: 600px) {
  

   /*.fp-slides {
      overflow-x:hidden!important;
      overflow-y:scroll!important;
   } */  

  .week {
    display:inline;
  }
  
  ul.events li{
    padding:0;
  }
  
  h1, p{
    display:none;
  }
}

@media (orientation: portrait) {



}